[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=HOME=/root
Environment=USER=root
WorkingDirectory={{node_dir}}
ExecStart={{exec_start}}
Restart=on-failure
RestartSec=10
TimeoutStopSec=30
KillMode=control-group
StandardOutput=append:{{log_file}}
StandardError=append:{{log_file}}
LimitNOFILE={{nofile}}

[Install]
WantedBy=multi-user.target
