[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=HOME={{node_dir}}
WorkingDirectory={{workdir}}
ExecStart={{exec_start}}
Restart=on-failure
RestartSec=15
TimeoutStopSec=300
KillMode=control-group
KillSignal=SIGTERM
FinalKillSignal=SIGKILL
StandardOutput=append:{{log_file}}
StandardError=append:{{log_file}}
IPAccounting=yes
CPUAccounting=yes
MemoryAccounting=yes
LimitNOFILE={{nofile}}

[Install]
WantedBy=multi-user.target
