[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{bin}} start --home {{home}} --chain={{chain}} --rest-server
Restart=on-failure
RestartSec=15
TimeoutStopSec=300
StandardOutput=append:{{log_file}}
StandardError=append:{{log_file}}
LimitNOFILE=1048576
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
