[Unit]
Description={{description}}
After=network-online.target {{heimdall_unit}}
Wants=network-online.target {{heimdall_unit}}
Requires={{heimdall_unit}}

[Service]
Type=simple
ExecStart={{bin}} server -config {{config_path}}
Restart=on-failure
RestartSec=10
TimeoutStopSec=600
StandardOutput=append:{{log_file}}
StandardError=append:{{log_file}}
LimitNOFILE=1048576
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
