[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{node_dir}}
ExecStart={{exec_start}}
Restart=on-failure
RestartSec=5
StandardOutput=append:{{log_file}}
StandardError=append:{{log_file}}
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
