[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{node_dir}}
ExecStart={{exec_start}}
Restart=on-failure
RestartSec=10
TimeoutStopSec=90
KillMode=control-group
KillSignal=SIGTERM
FinalKillSignal=SIGKILL
StandardOutput=append:{{log_file}}
StandardError=append:{{log_file}}
IPAccounting=yes
CPUAccounting=yes
MemoryAccounting=yes
LimitNOFILE={{nofile}}

[Install]
WantedBy=multi-user.target
